# Environments
venv/
env/
.venv/
*.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Django
/media/
/static/
staticfiles/

# Secrets / environment config
.env
.env.*
!.env.example

# Celery
celerybeat-schedule
celerybeat.pid

# Testing / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Other Folder
PMS_extracted/